<!DOCTYPE HTML>
 <head>
    <title>ВКР МУИВ Триппель Анастасия</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            width: 85%;
            margin: 30px auto;
            border-collapse: collapse;
        }
        thead {
            background-color: #2c87c8;
            color: #ffffff;
        }
        th,
        td {
            padding: 10px;
            border: 1px solid #667666;
        }
    </style>
</head>
<body>
<div>
    <div style="float: left">
        <form id="home" action="/" target="_self">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button>Вернуться на<br>Стартовую страницу</button>
        </form>
    </div>
    <div style="float: right">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<br><br>
<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Список Заказов</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Стоимость заказа</th>
        <th>ФИО сделавшего заказ</th>
    </tr>
    </thead>
    {{#orders}}
        <tr>
            <td>
                <form action="/orders" method="post">
                    <div>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                        <input type="hidden" name="id" value={{id}} />
                        <input type="submit" value={{id}}>
                    </div>
                </form>
            </td>
            <td>{{cost}}  &#8381;</td>
            <td>{{userEntity.username}}</td>
        </tr>
    {{/orders}}
</table>
</body>
